<md-sidenav-container class="faype-container">
  <md-toolbar>
    <button class="faype-btn-open-menu" md-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button> Meu projeto
  </md-toolbar>

  <md-sidenav #sidenav class="faype-sidenav">
    <md-list>
      <md-list-item>
        <md-icon>home</md-icon>
        <a [routerLink]="['/home']"> home</a>
      </md-list-item>
      <md-list-item>
        <md-icon>looks_one</md-icon>
        <a [routerLink]="['/page-one/list']">page-one</a>
      </md-list-item>
      <md-list-item>
        <md-icon>looks_two</md-icon>
        <a [routerLink]="['/page-two/list']">page-two</a>
      </md-list-item>
      <md-list-item>
        <md-icon>exit_to_app</md-icon>
        <a href="/login" (click)="logout()">Logout</a>
      </md-list-item>
    </md-list>
    
  </md-sidenav>

  <div class="faype-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>
