/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

html, body {
    margin: 0px;
    border: 0px; 
    padding: 0px;
}